tasks:
    tailwild_build:
        name: Tailwind Build
        command: |
            npm install
            npx tailwindcss -i ./src/app.css -o ./static/css/main.css
        triggeredBy:
            - manual
            - prebuild

    tailwind_watch:
        name: Tailwind Watch
        command: |
            npx tailwindcss -i ./src/app.css -o ./static/css/main.css --watch
        dependsOn:
            - tailwild_build
        triggeredBy:
            - manual
            - postEnvironmentStart

    run_dev_environment:
        name: Setup and Run Dev Environment
        command: |
            export HMR_HOST=$(gitpod env port open 5173 -n HMR_HOST)
            export PUBLIC_BUILD_MODE=development
            npm run dev
        dependsOn:
            - tailwild_build
        triggeredBy:
            - postEnvironmentStart
            - manual
