tasks:
    tailwild_build:
        name: Tailwind Build
        command: npm install
        triggeredBy:
          - prebuild
          - manual

    tailwind_watch:
        name: Tailwind Watch
        command: |
            npx tailwindcss -i ./src/app.css -o ./static/css/main.css
            gp sync-done styles && 
            npx tailwindcss -i ./src/app.css -o ./static/css/main.css --watch
        dependsOn:
          - tailwild_build
        triggeredBy:
          - postEnvironmentStart
    
    run_dev_environment:
        name: Setup and Run Dev Environment
        command: |
            export HMR_HOST=`gp url 5173`
            export PUBLIC_BUILD_MODE=development
            git config --global pull.rebase false
            git config --global fetch.prune true
            git config --global diff.colorMoved zebra
            gp sync-await styles
            npm run dev
        dependsOn:
            - tailwild_build
        triggeredBy:
            - postEnvironmentStart