tasks:
    tailwild_build:
        name: Tailwind Build
        command: |
            npm install
            npx tailwindcss -i ./assets/css/main.css -o ./assets/css/style.css
        triggeredBy:
          - prebuild
          - manual

    tailwind_watch:
        name: Tailwind Watch
        command: |
            npx tailwindcss -i ./assets/css/main.css -o ./assets/css/style.css --watch
        dependsOn:
          - tailwild_build
        triggeredBy:
          - manual
          - postEnvironmentStart
    
    run_dev_environment:
        name: Hugo Server
        command: |
            hugo server -D -F --baseURL $(gitpod env port open 1313 -n Hugo) --liveReloadPort=443 --appendPort=false --bind=0.0.0.0
        dependsOn:
            - tailwild_build
        triggeredBy:
            - manual
            - postEnvironmentStart